.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 20px;
}

.footerH3{
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 5px;
}

.footerP{
    color: #9CA3AF;
    width: 625px;
   text-align: center;
   padding: 5px;
   font-size: 11px;
}
.footerDeveloper{
    color: #9CA3AF;
    font-size: 11px;
    padding: 10px;
}
.footerDeveloper a{
    color: white;
}
.footerDeveloper a:hover{
    color: rgb(249, 232, 232);
}